@charset "EUC-KR";

body{
	background: white;
}

.container{
	width: 930px;
	margin: 0 auto;
	border: 1px solid #9292927a;
}

header{
	height: 220px;
	width: 100%;
	background-image: url("../image/seabg.png");
	background-repeat: no-repeat;
	background-size: cover;
}

hgroup{
	float: right;
	padding-top: 50px;
    padding-right: 35px;
}

hgroup h1{
	color: #ffe8cc;
	text-shadow: 0.5px 0.5px 0.5px black;
}

hgroup h2{
	color: yellow;
	font-size: 1.2em;
	text-shadow: 0.5px 0.5px 0.5px black;
}

.navi{
	overflow : hidden;
	width: 100%;
	height: 50px;
	background: green;
}

.navi ul{
	margin-top: 15px;
}

.navi ul li{
	display: inline;
	float: left;
	margin: 0 40px;
}

.navi ul li a{
	color: white;
	font-size: 0.9em;
}

.content{
	float: left;
	width: 705px;
	padding: 5px;
}

.content h2{
	font-size: 1.3em;
}

.content h3{
	font-size: 1em;
}

.content p{
	font-size: 0.8em;
	letter-spacing: -1px;
	font-weight: bold;
}

.banner {
    padding: 5px;
}

.sidebar1{
	float: right;
	width: 155px;
	background: #e6ffe6;
	padding: 15px;
}

.sidebar1 img{
	opacity: 0.5;
	width: 150px;
	height: auto;
}

.sidebar1 h3{
	font-size: 1.2em;
}

.sidebar1 p{
	font-size: 1em;
}

footer{
	clear: both;
	background: green;
	text-align: center;
	height: 100px;
	padding-top: 5px;
}

footer address{
	color: white;
	margin: 10px;
	font-size: 0.8em;
}

footer p{
	color: white;
	margin: 10px;
	font-size: 0.9em;
}











